<!-- html ignored -->
<!-- head ignored -->
<!-- meta ignored -->
<div style="color: #000000; background-color: #ffffff">
    <!-- html ignored -->
    <!-- head ignored -->
    <!-- meta ignored -->
    <!-- meta ignored -->
    <!-- meta ignored -->
    <div class="v1page" id="message-htmlpart1" style="margin: 0; padding: 0">
        <div
                class="v1container"
                style="
        box-sizing: border-box;
        max-width: 700px;
        min-width: 320px;
        margin: 0 auto;
        padding: 20px 3%;
      "
        >
            <table
                    class="v1main-table"
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    style="
          width: 700px;
          max-width: 700px;
          min-width: 300px;
          background: #fff;
          border-collapse: collapse;
          color: #000;
          font-family: Arial, Verdana, sans-serif;
        "
            >
                <tbody>
                <tr>
                    <td
                            class="v1header"
                            style="background-color: #ffffff"
                            align="center"
                            valign="top"
                    >
                        <table
                                class="v1sides-table"
                                style="width: 100%"
                                cellpadding="0"
                                cellspacing="0"
                                border="0"
                        >
                            <tbody>
                            <tr>
                                <td>
                                    <table
                                            class="v1tab-mob"
                                            align="center"
                                            width="600"
                                            cellpadding="0"
                                            cellspacing="0"
                                            border="0"
                                            style="min-width: 288px"
                                    >
                                        <tbody>
                                        <tr>
                                            <td
                                                    align="left"
                                                    style="padding: 0; text-align: left"
                                            >
                                                <a
                                                        href="https://abdnims.scnu.edu.cn/sso/login"
                                                        target="_blank"
                                                        rel="noreferrer"
                                                >
                                                    <img
                                                            class="v1header-logo"
                                                            src="https://abdnims.scnu.edu.cn/sso/logo.png"
                                                            style="width: 100%; max-width: 600px"
                                                            border="0"
                                                    />
                                                    <div
                                                            class="v1dark-img"
                                                            style="
                                    display: none;
                                    overflow: hidden;
                                    float: left;
                                    width: 0px;
                                    max-height: 0px;
                                    max-width: 0px;
                                    line-height: 0px;
                                    visibility: hidden;
                                  "
                                                    ></div>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td
                            class="v1content"
                            style="font-size: 16px; line-height: 1.5; padding: 2em 5% 0.5em"
                    >
                        <table
                                class="v1tab-mob-550"
                                align="center"
                                width="550"
                                cellpadding="0"
                                cellspacing="0"
                                border="0"
                                style="min-width: 288px"
                        >
                            <tbody>
                            <tr>
                                <td
                                        align="left"
                                        class="v1sm-txt v1p-t-42"
                                        style="
                        font-family: YS Text, Arial, Helvetica, sans-serif;
                        font-size: 16px;
                        line-height: 24px;
                        color: #000000;
                        padding-top: 2px;
                      "
                                >
                                    <p style="margin: 0 0 1.5em; padding: 0">
                                        {{.Name}}，你好<br />
                                    </p>
                                    <p style="margin: 0 0 1.5em; padding: 0">
                                        您收到这封电子邮件是因为您 (也可能是某人冒充您的名义)
                                        申请了一个找回密码的请求。<br />
                                        假如这不是您本人所申请, 或者您曾持续收到这类的信件骚扰,
                                        请您尽快联络管理员。<br />
                                        <br />
                                        此处是你的验证码，2分钟内有效：
                                        <strong>{{.Code}}</strong> ，请勿泄露给他人。
                                        <br />
                                        <br />
                                        请不要直接回复本邮件。
                                    </p>
                                    <p
                                            style="margin: 0 0 1.5em; padding: 0; text-align: right"
                                    >
                                        SCNUAutoptr团队<br />
                                        {{.Time}}
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td
                                        class="v1copyright"
                                        align="center"
                                        style="
                        color: #6c6c6c;
                        font-size: 14px;
                        padding: 0;
                        text-align: center;
                      "
                                >
                                    © 2024 SCNUAutoptr. All rights reserved.
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
